# Generate OBSIDIAN_AUTH_TOKEN once:
#   docker run --rm -it --entrypoint get-token \
#     ghcr.io/belphemur/obsidian-headless-sync-docker:latest
OBSIDIAN_AUTH_TOKEN=
VAULT_NAME=My Vault
VAULT_PASSWORD=
GHCR_USER=aliasunder
VAULT_MCP_TAG=latest
PUID=1000
PGID=1000
LOG_LEVEL=info
TZ=America/Toronto
